html,body{margin:0; padding:0;}
header {
    font-family: Lato, sans-serif;
    background-color: rgba(255, 243, 176, 1);
    color: rgba(158, 42, 43, 1);
height: 120px; margin: 0 auto; padding: 20px; 
}
